body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: #B29868;
    color: #000000;
}

/* Navigation Bar */
nav {
    width: 100%;
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    background-color: #877C7F;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Navigation Buttons */
nav .buttons {
    background-color: #393536;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

nav .buttons:hover {
    background-color: #524B4D;
    transform: scale(1.05);
}
